.body{
    width: 100%;
    margin: 0%;
}
.header{
    display:flex;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    display: inline;
    margin-right: 20px; 
}
a {
    text-decoration: none; 
}
/* Style the header */
header {
    background-color: #dbdbdb92; 
    color: #000000; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    position: sticky;
}
.nav-items ul {
    display: inline; 
}
.nav-items li {
    display: inline; 
    margin-right: 20px;
}
form {
    display: flex; 
}
input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.footer{
    display: block;
}
.nav-items{
    display: flex;
    list-style:none ;
    flex-wrap: wrap;
}
.card{
    background-color:#cbcbcb;
    width: 220px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.75rem;
    opacity: 0.8;
}

.brand-container{
    position: relative;
    margin-left: 1.5rem;
}
.btag{
    color: rgb(28, 28, 28);
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 2.5rem 0px 2.2rem;
}
.brands{
    height: auto;
    width: 15rem;
    margin-right: 40px;
}
.brand-lists{
    position: relative;
    display:flex;
    width: 100%;
    overflow: auto;
}
.bsort{
    width: 15rem;
    cursor: pointer;
}
.imgbox{
    border: 0.5px solid rgb(232, 232, 232);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 12px;
    border-radius: 50%;
    overflow: hidden;
}
.brand-img{
    width: 100%;
}
.bname{
    line-height: 1.2;
    color: rgb(28, 28, 28);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0px 0px;
    word-break: break-word;
}
